.footer-container {
  background-color: #032b80; /* Match background color */
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;  /* Fix position */
  bottom: 0;  /* Stick to the bottom */
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  text-align: left;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-text {
  color: white;
  font-size: 1rem;
  max-width: 700px;
  line-height: 1.5;
  margin: 0 0 0 200px;
}
